body{
    background-color: rgb(31, 31, 31);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.game-site-body{
    overflow-y: hidden;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-synthesis: 500;
    text-decoration: none;
    margin-left: 40px;
}

#cost{
    margin-left: 70px;
    cursor: default;
}



.games-container{
    position: relative;
    margin-top: 80px;
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 5px;
    margin-top: 10vh;
    margin-bottom: 2vh;
    margin-right: calc(1vw + var(--scrollbar-width));
    margin-left: 1vw;
}

.games{
    flex: 3;
    background-color: #111111;
    margin-right: 10vw;
    margin-left: 0.25vw;
    margin-top: 5vh;
    border-radius: 25px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;
}

.games img{
    border-radius: 25px;
    min-height: 20vh;
    max-height: 20vh;
    min-width: 32vh;
    max-width: 32vh;
    margin-bottom: 0; 
}

.game {
    position: relative;
    text-align: center;
}


.title {
    position: absolute;
    bottom: 8.9vh;
    color: white;
    width: 100%;
}


.price{
    text-align: center;
    color: white;
    margin-bottom: 0.4vh;
    margin-top: 1.7vh;
    font-weight: bold;
}
.buy {
    text-align: center;
    margin-top: 0;
}

.buy-button{
    width: 4vw;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buy-button:hover{
    background-color: #45a049;
}


.side-bar{
    flex: 1;
    background-color: #111111;
    border-radius: 25px;
    margin-right: 2vw;
    margin-top: 5vh;
    height: 100%;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 18vw;
}

.search input{
    margin-left: 1vw;
    text-align: center;
    height: 6vh;
    width: 13vw;
    border: solid black;
    border-radius: 8px;
    background-color: #424040;
    font-size: 18px;
    padding: 0;
}

.search button{
    width: 3vw;
    height: 6vh;
    margin-left: 1vw;
    text-align: center;
    font-size: 25px;
    background-color: #424040;
    border-radius: 8px;
    border: solid black;
    cursor: pointer;
}

.search form{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}



.footer{
    bottom: 0;
    background-color: blue;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin-top: 5vh;
}



.game-site-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 45px;
    color: white;
}

.game-site-price{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.trailer {
    display: flex;
    text-align: center;
    background-color: #111111;
    margin-top: 100px;
    margin-left: 16vw;
    margin-right: 16vw;
    border-radius: 45px;
}


.description-container{
    flex: 1;
    color: white;
    font-size: 25px;
}

.description-title{
    font-size: 25px;
    color: white;
    margin-top: 2vh;
}

.description-text{
    font-size: 14px;
    color: white;
    margin-top: 2.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.trailer iframe {
    flex: 2.16;
    border: none;
    width: 30vw;
    height: 40vh;
    margin: 0; 
    padding: 0; 
}


.add-to-cart-container{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    color: white;
    font-size: 25px;
    max-height: 100%;
    min-height: 100%;

}

.add-to-cart-container button {
    position: absolute;
    bottom: 3vh;
    width: 13vw;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 5vh;
}

.add-to-cart-container h1{
    position: absolute;
    bottom: 9vh;
    font-size: 35px;
}
.terms {
    position: relative;
    font-size: 12px;
    width: 1000px;
    text-align: center; 
    top: 0;
    margin-top: 1.5vh;
    margin-left: auto; 
    margin-right: auto; 
    color: #424040;
}


.game-footer{
    position: absolute;
    bottom: 0;
    background-color: #111111;
    height: 20vh;
    width: 100%;
}

.login-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    width: 100%;
    height: 90vh;
}

.login-frame {
    background-color: #111111;
    width: 25vw;
    height: 80vh;
    border-radius: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-frame h1{
    margin-top: 3vh;
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: 700;
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.inputs input{
    background-color: #424040;

    width: 13vw;
    height: 4.5vh;
    text-align: center;
    border-radius: 8px;
    border: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 5vh;
}

.inputs label{
    margin-bottom: 0.5rem;
    color: white; 
}

.inputs button {
    margin-top: 5vh;
    width: 15vw;
    height: 6vh;
    border-radius: 8px;
    background-color: #424040;
    border: solid black;
    border-width: 2px;
    font-size: 20px;
    color: black;
}