body{
    background-color: #454545;
}


.main-container{
    display: grid;
    background-color: #454545;
}

.main-container > div{
    margin: 1px
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.top-section ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


.top-section a {
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-section a:hover{
    background-color: hsl(0, 0%, 11%)
}
